<web-app>
    <display-name>Library Management System</display-name>
    
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>ControllerServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
